<div>
  <%= form_for @post, html: { multipart: true } do |f| %>

    <div class="form-group">
      <label class="form-label"> Tick the box if what the user has uploaded for this scenario is valid </label>
    </div>

    <div class="form-group">
      <%= f.label :yes, class: "form-label radio-label" do %>
        <%= f.radio_button :adminChecked, true, class: "check-box", checked: true %>
        <span class="radio-tag">Yes</span>
        <div class="control-indicator"></div>
      <% end %>

      <%= f.label :no, class: "form-label radio-label" do %>
        <%= f.radio_button :adminChecked, false, class: "check-box" %>
        <span class="radio-tag"> No </span>
        <div class="control-indicator"></div>
      <% end %>
    </div>

    <div class="form-group">
      <label class="form-label"> Leave any comments you have here for the user to see </label>
      <%= f.text_area :adminComment, :class=>"textarea" %>
    </div>
    <%= f.submit "Upload", :class => 'button' %>
  <% end %>
</div>
