<div id="page-container">

  <div class="phase-banner">
    <p><strong class="phase-tag">ALPHA</strong>
      <span>Enable services to know what and how they should provide evidence of testing in the compliance tool</span></p>
  </div>

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/"> Home </a></li>
      <li><a href="/posts/admin"> Admin Interface </a></li>
    </ol>
  </div>

  <div>
    <h1> Admin Interface </h1>
  </div>

  <div>
    <p> Here you can see all the evidence the user has uploaded. Please click on mark to validate that the evidence uploaded for each scenario is acceptable. </p>
  </div>

  <% if !flash[:notice].blank? %>
    <div class="panel-border-narrow" aria-hidden="false">
      <h3><%= flash[:notice] %></h3>
    </div>
  <% end %><br>

  <div>
    <% count = 0 %>
    <table>
      <thead>
        <tr>
          <th class="scenarioWidth"><h3> Scenario </h3></th>
          <th><h3> Comments </h3></th>
          <th class="tableLinkWidth"><h3> Image </h3></th>
          <th class="tableLinkWidth"><h3> Extra </h3></th>
          <th class="tableAdminWidth"><h3> Admin Feedback </h3></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @posts.each do |post| %>
            <td class="scenarioWidth"><h2><%= post.title %></h2></td>
            <td><h2><%= post.body %></h2></td>
            <td class="tableLinkWidth"><h2><%= link_to "View", post.image_url %></h2></td>
            <td class="tableLinkWidth"><%if !post.image2.url.nil? %>
              <h2><%= link_to "View", post.image2_url %></h2></td>
            <% else %>
              <h2> n/a</h2>
            <% end %>
            <td class="tableAdminWidth"><%= render @posts[count] %>
            <%count += 1%></td>
        </tr>
          <% end %>
      </tbody>
    </table>
  </div>

</div>
