<div id="page-container">

  <div class="phase-banner">
    <p><strong class="phase-tag"> ALPHA </strong>
      <span> Enable services to know what and how they should provide evidence of testing in the compliance tool </span></p>
  </div>

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/"> Home </a></li>
      <li><a href="/images/new"> Confirmation </a></li>
    </ol>
  </div>

  <div>
    <h1> Successful! </h1>
    <p> <%= @post.title %> has been successfully edited. To return home please click the button below </p>
  </div>
  <p><%= link_to 'All posts', posts_path, :class => 'button' %></p>

  <!-- <%= @post.title %></h1>
  <%= @post.body %></p>
  <%= image_tag(@post.image.url, alt: 'Image') if @post.image? %>
  <%= image_tag(@post.image2.url, alt: 'Image') if @post.image? %>
  <%= link_to 'Edit', edit_post_path(@post) %> -->

</div>
