<div id="page-container">

  <div class="phase-banner">
    <p><strong class="phase-tag"> ALPHA </strong>
      <span> Enable services to know what and how they should provide evidence of testing in the compliance tool </span></p>
  </div>

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/"> Home </a></li>
      <li><a href="/posts/<%= params[:id] %>/user_edit"> Edit Post </a></li>
    </ol>
  </div>

  <div>
    <h1> Edit Post </h1>
    <p> Here you are able to edit or remove your post!  </a></p><br><br>
  </div>

  <div>
    <table>
      <thead>
        <tr>
          <th class="scenarioWidth"><h3> Scenario </h3></th>
          <th><h3> Comments </h3></th>
          <th class="tableLinkWidth"><h3> Image </h3></th>
          <th class="tableLinkWidth"><h3> Extra </h3></th>
          <th class="tableLinkWidth"><h3> Delete </h3></th>

        </tr>
      </thead>
      <tbody>
        <tr>
            <td class="scenarioWidth"><h2><%= @post.title %></h2></td>
            <td><h2><%= @post.body %></h2></td>
            <td class="tableLinkWidth"><h2><%= link_to "View", @post.image_url %></h2></td>
            <td class="tableLinkWidth"><%if !@post.image2.url.nil? %>
              <h2><%= link_to "View", @post.image2_url %></h2></td>
            <% else %>
              <h2> n/a</h2>
            <% end %>
            <td class="deleteButtonWidth"><%= button_to "Delete",  @post, method: :delete, data: { confirm: "Are you sure you want to delete?" }, :class => 'button-warning' %></td>
        </tr>
      </tbody>
    </table>
  </div><br><br>

  <%= render 'form', post: @post %>

</div>
